* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(87,189,130);
	transition: background 0.5 ease;
	position: relative;
}

.field-name,
.field-email,
.field-password,
.field-finish{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	height: 50px;
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	transition: all 0.5s ease;
}

.field-name i,
.field-email i,
.field-password i,
.field-finish i,
.field-finish textarea{
	padding: 10px;
	cursor: pointer;
}

.field-name input,
.field-email input,
.field-password input,
.field-finish textarea{
	background: none;
	border: none;
	flex: 1;
	height: 100%;
	outline: none;
}

div.innactive{
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%,50%);
}

div.active{
	opacity: 1;
	pointer-events:all; 
	transform: translate(-50%,-50%);
}

.error{
	display: flex;
	justify-content: center;
	border-radius: 5px;
	text-align: center;
	padding: 2vh;
	margin-top:60%;
	top: 50%;
	left: 50%;
}
textarea {
	outline: none;
}

input[type=submit]{
  border-radius: 5px;
  border: none;
  color:#000;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
  background-color:#fff;
  transition: all 0.9s ease; 
  margin: 0 0;
  opacity: 0.7;
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus{
	opacity: 1;
	transform: scale(1.02);
	border: none;
    outline: 0;
    outline-offset: 0;
}

}

@keyframes shake{
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	50%{
		transform: translate(-50%,-50%) rotate(10deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
}
